@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="wrapper dashboard">
        <h2><i class="fa fa-tachometer"></i> Dashboard<span class="right-sitemap">Your are here: <span>Dashboard</span></span></h2>
        <section class="topmargin10">
            <div class="section-header">
                <div class="profilepic"><img src="/images/profile-pic.jpg" alt="" /></div>
                <h3>David Cameron</h3>
                <span class="sub-header">Member of Parliment | Consistency </span>
                <a href="profile.html" class="btn-sm">Edit</a>
                <div class="clr"></div>
            </div>
            <div class="section-citizendata">
                <div class="left">
                    <img src="/images/strenghtchart.png" alt="Total strenght" />
                </div>
                <div class="right">
                    <div class="m-f-bg">
                        120000    <i class="fa fa-female"></i><i class="fa fa-male"></i> 12900
                        <!--<span class="fa-female">0000</span>
                         <span class="male">0000</span>-->
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>

        </section>
        <section class="topmargin10">
            <div class="section-header">
                <h3>Appointments</h3>
                <span class="sub-header">Today you have two Appointments</span>
                <a href="appointments.html" class="btn-sm">View All</a>
                <div class="clr"></div>
            </div>
            <div>
                <ul class="app-list">
                    <li>
                        <div class="col time">10:00 am</div>
                        <div class="col">
                            <span class="name">Name: Johnn poul </span>
                            Location: Party Headquarters
                        </div>
                        <div class="col f-right"><button class="button-w">View</button></div>
                    </li>
                    <li>
                        <div class="col time">10:00 am</div>
                        <div class="col">
                            <span class="name">Name: Johnn poul </span>
                            Location: Party Headquarters
                        </div>
                        <div class="col f-right"><button class="button-w">View</button></div>
                    </li>
                    <li>
                        <div class="col time">10:00 am</div>
                        <div class="col">
                            <span class="name">Name: Johnn poul </span>
                            Location: Party Headquarters
                        </div>
                        <div class="col f-right"><button class="button-w">View</button></div>
                    </li>

                </ul>
                <div class="applist-notification-msg">
                    <a href="#"><i class="fa fa-exclamation-circle"></i> 10 New Appointment request</a>
                    <button class="f-right btn-red">Load More</button>
                </div>
            </div>
        </section>
        <section class="complaints">
            <div class="section-header">
                <h3>Complaints & Feedbacks</h3>
                <span class="sub-header">Lorem Ipsum is simply dummy text </span>
                <a href="complaints.html" class="btn-sm">View All</a>
                <div class="clr"></div>
            </div>
            <a href="preview.html">
                <ul class="gr-header">
                    <li>Name</li>
                    <li>Subject</li>
                    <li>Date</li>
                </ul>
            </a>
            <a href="preview.html">
                <ul class="gr-row">
                    <li>Steve Kebwage</li>
                    <li class="type-feedback">Feedback:Campaign Results</li>
                    <li>24th Feb 2015</li>
                </ul>
            </a>
            <a href="preview.html">
                <ul class="gr-row">
                    <li>Steve Kebwage</li>
                    <li class="type-feedback">Feedback:Campaign Results</li>
                    <li>24th Feb 2015</li>
                </ul>
            </a>
            <a href="preview.html">
                <ul class="gr-row">
                    <li>Steve Kebwage</li>
                    <li class="type-complaint">Complaint:Campaign Results</li>
                    <li>24th Feb 2015</li>
                </ul>
            </a>
            <a href="preview.html">
                <ul class="gr-row">
                    <li>Steve Kebwage</li>
                    <li class="type-feedback">Feedback</li>
                    <li>24th Feb 2015</li>
                </ul>
            </a>

        </section>
        <section class="events">
            <div class="section-header">
                <h3>Upcoming Events</h3>
                <span class="sub-header">Today you have two Appointments</span>
                <a href="events.html" class="btn-sm">Create Event</a>
                <div class="clr"></div>
            </div>
            <div class="events-list-con">
                <div class="event-sec">
                    <ul>
                        <li class="name">Conservative Campaign </li>
                        <li class="txt-light">Location: Party Headquarters</li>
                        <li><a href="#">Event Details</a></li>
                    </ul>
                </div>
                <div class="event-sec">
                    <ul>
                        <li class="name">Conservative Campaign </li>
                        <li class="txt-light">Location: Party Headquarters</li>
                        <li><a href="#">Event Details</a></li>
                    </ul>
                </div>
                <div class="event-sec">
                    <ul>
                        <li class="name">Conservative Campaign </li>
                        <li class="txt-light">Location: Party Headquarters</li>
                        <li><a href="#">Event Details</a></li>
                    </ul>
                </div>
                <div class="event-sec">
                    <ul>
                        <li class="name">Conservative Campaign </li>
                        <li class="txt-light">Location: Party Headquarters</li>
                        <li><a href="#">Event Details</a></li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
            <div class="align-right applist-notification-msg">
                <button class="btn-red">Load More</button>
            </div>
        </section>
        <div class="clr"></div>
    </div>
</div>
