@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="wrapper">
        <h2>
            <i class="fa fa-wrench"></i>
            Settings<span class="right-sitemap">Your are here: <a href="index.html">Dashboard</a> <i class="fa fa-chevron-right"></i> <span>Settings</span></span>
        </h2>
        <section class="topmargin10 section-col">


            <div>

                <div id="tab-container" class='tab-container'>
                    <ul class='etabs'>
                        <li class='tab'><a href="#tabs1-Audio">Party Workers</a></li>
                    </ul>
                    <div class="gr-action">
                        <button class="btn-red">Delete</button>
                    </div>
                    <div class="clr"></div>
                    <div class='panel-container'>
                        <div id="tabs1-Audio">
                            <div class="grid-container events-gr">
                                <ul class="gr-header">
                                    <li><input type="checkbox"></li>
                                    <li class="name"><i class="fa fa-user"></i> Name</li>
                                    <li class="place"><i class="fa fa-map-marker"></i> Place</li>
                                    <li class="date"><i class="fa fa-tasks"></i> Assign A Task</li>
                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">Bangalore</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">Ahmedabad</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">New Delhi</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">Hyderabad</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">New Delhi</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">New Delhi</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">Ahmedabad</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">kolkata</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">Bangalore</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>
                                <ul class="gr-content-row">
                                    <li><input type="checkbox"></li>
                                    <li class="name">Campaign speech</li>
                                    <li class="place">Hyderabad</li>
                                    <li class="date"> <button>Assign A Task</button></li>

                                </ul>

                                <div class="clr"></div>
                                <div class="pager-container">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </section>
        <section class="topmargin10 section-col form-section">
            <div class="section-header">
                <h3>Add Party Worker</h3>
                <div class="clr"></div>
            </div>
            <div class="fancy_fields form-container">
                <input type="text" name="name" placeholder="Name">


                <input type="text" name="userid" placeholder="User ID">
                <input type="text" name="password" placeholder="Password">
                <input type="text" name="re-enterpassword" placeholder="Re-enter Password">
                <textarea name="PartyworkerDetails" placeholder="Party Worker Details"></textarea>
                <div class="topmargin30">
                    <button class="btn-white">Clear</button>
                    <button class="marginleft20">Submit</button>
                </div>
            </div>
        </section>
        <div class="clr"></div>
    </div>
</div>