@model GalleryModel

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PoliticalAppUI.Models;
@using Server.PoliticalAppDataEntities;
@using PagedList.Mvc;
@using PagedList;




<div class="container">
    <div class="wrapper">
        <h2><span class="header-icon"><img src="/images/icon-speech.png" width="19" height="21" alt="" /></span> Gallery<span class="right-sitemap">Your are here: <a href="index.html">Dashboard</a> <i class="fa fa-chevron-right"></i> <span>Gallery</span></span></h2>
        <section class="topmargin10 section-col">


            <div>

                <div id="tab-container" class='tab-container'>
                    <ul class='etabs'>
                        <li class='tab'><a href="#tabs1-Audio">Album's</a></li>
                        <li class='tab'><a href="#tabs1-Video">Video's</a></li>
                    </ul>
                    <div class="gr-action">
                        <button class="btn-red">Delete</button>
                    </div>
                    <div class="clr"></div>
                    <div class='panel-container'>
                        <div id="tabs1-Audio">
                            <div>
                                <a href="gallery-album.html">
                                    <div class="alb-section">
                                        <img src="/images/profile-pic.jpg" alt="" />
                                        <h4>Album title</h4>
                                        <h5>New Delhi</h5>
                                    </div>
                                </a>
                                <a href="gallery-album.html">
                                    <div class="alb-section">
                                        <img src="/images/profile-pic.jpg" alt="" />
                                        <h4>Album title</h4>
                                        <h5>New Delhi</h5>
                                    </div>
                                </a>
                                <a href="gallery-album.html">
                                    <div class="alb-section">
                                        <img src="/images/profile-pic.jpg" alt="" />
                                        <h4>Album title</h4>
                                        <h5>New Delhi</h5>
                                    </div>
                                </a>
                                <div class="alb-section">

                                    <img src="/images/profile-pic.jpg" alt="" />
                                    <h4>Album title</h4>
                                    <h5>New Delhi</h5>
                                </div>

                                <div class="alb-section">

                                    <img src="/images/profile-pic.jpg" alt="" />
                                    <h4>Album title</h4>
                                    <h5>New Delhi</h5>
                                </div>

                                <div class="alb-section">

                                    <img src="/images/profile-pic.jpg" alt="" />
                                    <h4>Album title</h4>
                                    <h5>New Delhi</h5>
                                </div>

                                <div class="alb-section">

                                    <img src="/images/profile-pic.jpg" alt="" />
                                    <h4>Album title</h4>
                                    <h5>New Delhi</h5>
                                </div>

                                <div class="alb-section">

                                    <img src="/images/profile-pic.jpg" alt="" />
                                    <h4>Album title</h4>
                                    <h5>New Delhi</h5>
                                </div>

                                <div class="alb-section">

                                    <img src="/images/profile-pic.jpg" alt="" />
                                    <h4>Album title</h4>
                                    <h5>New Delhi</h5>
                                </div>


                            </div>
                            <div class="clr"></div>
                            <div class="pager-container topmargin20">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="tabs1-Video">
                            <div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>01.Campaign Event</h4>
                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>02.Campaign Speech</h4>

                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>03.President Speech</h4>

                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>04.Campaign Event</h4>

                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>05.President Speech</h4>

                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>06.Campaign Speech</h4>

                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>Album title</h4>

                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>Album title</h4>
                                </div>

                                <div class="alb-section">
                                    <input type="checkbox">
                                    <img src="/images/video-img.jpg" alt="" />
                                    <h4>Album title</h4>
                                </div>

                                <div class="clr"></div>
                            </div>
                            <div class="pager-container topmargin20">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>







                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section class="topmargin10 section-col form-section">

@using (Html.BeginForm("UploadGallery", "SpeechesGallery", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            <div class="section-header">
                <h3>Add Photos / Video</h3>
                <div class="clr"></div>
            </div>
            <div class="fancy_fields form-container">
                <div class="col-half">
                    @Html.DropDownList("drpAlbum", Model.drpAlbumList, "Create Album")                    
                </div>
                <div class="col-half">
                    <input id="Dob" type="text" name="date" placeholder="dd/mm/yyy"><br>

                    <input  id="SelectedDate" value="@ViewBag.SelectedDate" name="SelectedDate"  type="text" />
                </div>
                <div class="clr"></div>
                <input type="text" name="place" id="place" placeholder="Place">
                
                <textarea placeholder="AlbumDetails" id="albumDescription" name="AlbumDescription"></textarea>

                <input class="btn-red topmargin20" id="file" type="file" name="galleryFile" /> <i class="fa fa-paperclip"></i>
                <div class="topmargin30">
                    <button class="btn-white">Clear</button>
                    <button id="submit" type="submit" name="FilePath" value="Upload" class="marginleft20">Submit</button>
                </div>
            </div>
}
        </section>
        <div class="clr"></div>
    </div>
</div>

 



<script type="text/javascript">
    $(document).ready( function() {
        $('#tab-container').easytabs();

        $("#Dob").datepicker();

        
        //$("#SelectedDate").datepicker({
        //    buttonImageOnly: true,
        //    minDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
        //    beforeShow: function (textbox, instance) {
        //        instance.dpDiv.css({ marginTop: (-textbox.offsetHeight) + 'px', marginLeft: textbox.offsetWidth + 'px' })
        //    }
        //        , dateFormat: 'mm/dd/yy'
        //});

        //$("#SelectedDate").focusout(function () {
        //    var txtDate = $("#SelectedDate").val();
        //    var tomarrowDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);           
        //    var Today = (tomarrowDate.getMonth() + 1) + "/" + (tomarrowDate.getDate()) + "/" + tomarrowDate.getFullYear();
        //    if (txtDate < Today) {
        //        $("#SelectedDate").val(Today);
        //        alert("Please select future date");
        //    }
        //});


    });
</script>